<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="royNet" type="RoyNet.RoyNetConfiguration, RoyNet" />
  </configSections>
  <connectionStrings>
    <add name="db" connectionString="server=123.56.119.97;port=3309;uid=dev;pwd=chenrong_out;database=RoyNet;pooling=true" />
  </connectionStrings>

  <royNet>
    <servers>
      <!--登录服务器-->
      <add name="loginServer" serverTypeName="loginServer"
           port="2020" />
      <!--转发服务器-->
      <add name="gateServer" serverTypeName="gateServer" port="2021" 
           loginServerUrl="http://127.0.0.1:2020/chk">
        <messageQueues>
          <add name="mq1" port="2023">
            <consumers>
              <add name="游戏服1" ip="127.0.0.1" port="2022" />
            </consumers>
          </add>
        </messageQueues>
      </add>
      <!--游戏逻辑服务器-->
      <add name="gameServer" serverTypeName="gameServer" port="2022"
           gateServerIP="127.0.0.1"
           gateServerPort="2023"/>
    </servers>
    <serverTypes>
      <add name="loginServer" type="RoyNet.Server.Login.LoginServer, RoyNet.Server.Login"/>
      <add name="gameServer"  type="RoyNet.Server.Game.GameServer, RoyNet.Server.Game"/>
      <add name="gateServer"  type="RoyNet.Server.Gate.GatewayServer, RoyNet.Server.Gate"/>
    </serverTypes>
  </royNet>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>
