<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="db" connectionString="server=123.56.119.97;port=5432;uid=postgres;pwd=chenrong;database=test;pooling=true" />
  </connectionStrings>
  
  <appSettings>
    <add key="Url" value="http://127.0.0.1:8080" />
  </appSettings>
</configuration>