<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="superSocket"
             type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <superSocket>
    <servers>
      <server name="网关服务器"
              serverTypeName="GatewayServer"
              ip="Any" 
              disableSessionSnapshot="true"
              gameServerAddress="ipc://game1"
              loginServerAddress="http://127.0.0.1:8080/"
              port="2020">
      </server>
    </servers>
    <serverTypes>
      <add name="GatewayServer"
           type="RoyNet.GateServer.GatewayServer, RoyNet.GateServer"/>
    </serverTypes>
  </superSocket>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>