@{
}

<h3>出品游戏</h3>

<div class="row">
    <div class="col-md-2" style="text-align:center;">
        <a asp-controller="game" asp-action="babel">
            <img src="~/images/babel.jpg" alt="无限城" class="img-thumbnail">
            <label>无限城</label>
        </a>
    </div>
</div>